<!DOCTYPE html>
<html>
  <head>
    <title>Race Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/" rel="index"><h1>Race Data</h1></a>
    <dl vocab="http://schema.org/" typeof="SportsEvent" id="race">    
      <dt>Race Name</dt>
      <dd property="name"><span class="race-name"<%=item.name%></span></dd>
      <dt>Race URL</dt>
      <dd><a class="race-url" href='<%=item.url%>'><span property="url"><%=item.url%></span></a></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd property="description"><span class="race-description"><%=item.description%></span></dd>
      <% } %>
      <dt>Runners</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul class="all-runners">
          <% related_items.forEach(function(related_item) { %>
          <li property="performers" class="runner" typeof="Person">
            <a property="url" class="runner-url" href="/runners/<%=related_item._id%>">
              <span property="name" class="runner-name"><%=related_item.name%></span>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No runners have been entered in this race.
        <% } %>
      </dd>
    </dl>
    <div>
      <h2>Add a new runner</h2>
      <form class="create-runner" method="post" action="/runners/">
        <input type="hidden" name="item[race]" value="<%=item._id%>">
        <!-- The line above links the runner to be created to this race. -->
        <label for="item[name]">Runner Name: 
          <input name="item[name]" type="text" required
                   placeholder="Gary Wilhelm">
        </label>
        <label for="item[time]">Runner Time:
          <input name="item[time]" type="text" required placeholder="00:00:00">
        </label>
        <label for="item[image]">Runner Image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="http://www.law.unc.edu/components/handlers/image.ashx?personnelid=1&typeid=11">
        </label>
        <label for="item[country]">Country:
          <input name="item[country]" type="text" placeholder="United States">
        </label>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
