<!DOCTYPE html>
<html>
  <head>
    <title>Runner Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/" rel="index"><h1>Race Data</h1></a>
    <dl vocab="http://schema.org/" typeof="Person" id="runner">
      <dt>Name</dt>
      <dd property="name"><span class="runner-name"><%=item.name%></span></dd>
      <dt>Race</dt>
      <dd property="performerIn" typeof="SportsEvent" class="race">
        <% related_items.forEach(function(related_item) { %>
            <% if (related_item._id === item.race) { %>
                <a property="url" class="race-url" href="/races/<%=item.race%>">
                    <span property="name" class="race-name"><%=related_item.name%></span>
                </a>
            <% }}); %>
      </dd>
      <% if (item.time) { %>
      <dt>Time</dt>
      <dd property="awards"><span class="runner-time"><%=item.time%></span></dd>
      <% } %>
      <% if (item.country) { %>
      <dt>Country</dt>
      <dd property="nationality"><span class="country"><%=item.country%></span></dd>
      <% } %>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img property="image" class="runner-image" src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
    <div class="control">
      <h2>Update runner</h2>
      <form class="update-runner" method="post" action="/runners/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label for="item[name]>Name: 
          <input name="item[name]" value="<%=item.name%>" type="text" required>
        </label>
        <label for="item[race]">Race: 
          <select name="item[race]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.race) { %>selected<% } %>>
              <%=related_item.name%>
            </option>
            <% }); %>
          </select>
        </label>
        <label for="item[time]">Time:
          <input name="item[time]" value="<%=item.time%>" type="text" required>
        </label>
        <label for="item[country]">Country:
          <input name="item[country]" value="<%=item.country%>" type="text">
        </label>
        <label for="item[image]">Image URL:
          <input name="item[image]" value="<%=item.image%>" type="url" size="80"> 
        </label>
        <button>Update</button>
      </form>
    </div>
  </body>
</html>
